/OpenglTestConsole/.vs
/OpenglTestConsole/OpenglTestConsole/obj/Debug
/MyResourceGenerator/obj
/OpenglTestConsole/obj
/OpenglTestConsole/ResourcesClassGenerator/obj
/Obsidian/.obsidian
/OpenglTestConsole/OpenglTestConsole/bin/Release
/OpenglTestConsole/OpenglTestConsole/obj
/OpenglTestConsole/ResourcesClassGenerator/bin/Release
/Obsidian/API
*.dmp
/OpenglTestConsole/OpenglTestConsole/bin
/OpenglTestConsole/RGL/obj
